---
layout: base
title: Home
permalink: '/'
heading: Minimal Starter Kit for Bootstrap 5 using Eleventy
---

<div class="container-xxl">
    <div class="col-md-9 px-3 mx-auto">
        <div class="text-center mt-20 mb-12">
            <h1 class="display-3 ls-tight">
                <span class="d-inline-flex text-transparent bg-clip-text gradient-bottom-right start-purple-500 end-indigo-400 position-relative">For Hire:</span> Taylor Young
            </h1>
            <p class="text-lg font-semibold mt-5 px-lg-32">
                I like this Minimal starter template for websites using Bootstrap 5 and Webpixels CSS next to the Eleventy static site generator.
            </p>

            <h2>Better</h2>

            <p>However I am tempted to use Pug instead of Nunjucks templating</p>
            <div class="mx-sm-n2 mt-7">
                <a href="https://github.com/Hyprtxt/11ty-bootstrap" class="btn btn-dark" target="_blank">
                    <i class="bi bi-github me-2"></i>
                    <span>See on Github</span>
                </a>
            </div>
        </div>

        <p class="text-muted text-sm font-semibold text-center my-12">
            Made with <i class="bi bi-heart mx-1"></i> by <a href="https://Hyprtxt.dev/">Taylor</a>
        </p>
    </div>
</div>
